body {

	width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: #777;
    font-size: 18px;
    color: #777;
    text-align: center;
    font-family: Arial;
}

#header {
	background-color: #ebebeb;
	padding: 30px;
	margin-bottom: 10px;


}

#nav {
	background-color: #ebebeb;
	padding: 30px;
	margin-bottom: 10px;

}

#center {

}

#section {
	float: left;
	background-color: #ebebeb;
	width: 495px;
	height: 200px;
	margin-right: 10px;
	margin-bottom: 10px;
	

}

#aside {
	float: left;
	background-color: #ebebeb;
	height: 200px;
	width: 455px;
	margin-bottom: 10px;
}

#article {
	float: left;
	background-color: #777;
	margin-left: 50px;
	margin-top: 20px;
	color: #ebebeb;
	padding: 20px;
	width: 75%

}

#headings {
	background-color: #ebebeb;
	color: #777;
	padding: 10px;
	margin-bottom: 5px;
	width: 95%

}

#paragraph {
	background-color: #ebebeb;
	color: #777;
	padding: 10px;
	width: 95%

}
#footer {
	clear: both;
	overflow: auto;
	background-color: #ebebeb;
	padding: 30px;

}