body {
	height: auto;
	background-color: #777;
	color: grey;
	font-family: Arial;
}

#wrapper {

	width: 960px;
}

#header {

	padding: 30px;
	margin: 10px;
	background-color: #ebebeb;
	text-align: center;

}

.footer {

	padding: 30px;
	margin: 10px;
	width: 880px;
	height: 30px;
	background-color: #ebebeb;
	text-align: center;
	position: absolute;
	bottom: 0

}



#nav {

	padding: 30px;
	margin: 10px;
	background-color: #ebebeb;
	text-align: center;

}

#section {
	float: left;
	width: 495px;
	padding: 30px;
	margin: 10px;
	background-color: #ebebeb;
	text-align: center;


}

aside {
	float: left;
	padding: 30px;
	margin: 10px;
	padding-right: 192px;
	background-color: #ebebeb;
	text-align: right;

}


article {

	/*border: 5px;*/
	padding: 15px;
	margin-bottom: 5px;
	background-color: #777;
	text-align: center;
	color: #ebebeb;
}

#article1 {

	/*border: 5px;*/
	padding: 15px;
	margin-bottom: 5px;
	background-color: #ebebeb;
	text-align: center;
	color: #ebebeb;
}

#headings{
	padding: 20px;
	margin: 5px;
	background-color: #ebebeb;
	text-align: center;
	color: #777;

}

#paragraph {
	padding: 20px;
	margin: 5px;
	background-color: #ebebeb;
	text-align: center;
	color: #777;
}

#headings1{
	padding: 20px;
	margin: 5px;
	background-color: #ebebeb;
	text-align: center;
	color: #ebebeb;

}

#paragraph1{
	padding: 20px;
	margin: 5px;
	background-color: l#ebebeb;
	text-align: center;
	color: #ebebeb;

}